{% extends 'page.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Programme Mood &nbsp; &nbsp;<small>Jan 2013</small></h1>
    </div>

    <div style="overflow: hidden;">
    {% for programme in programmes %}
        <div style="float: left; margin: 0 2% 10px 2%; width: 45%; border-bottom: 1px solid #ccc;">
            <div class="row-fluid">
                <div class="span12">
                    <h2 style="font-size: 18px; max-height: 36px; overflow: hidden; margin-bottom: 0;"><a href="/{{ programme.pid }}">{{ programme.title }}</a></h2>
                    <p>{{ programme.service_name }}</p>
                </div>
                <div class="span12">
                    <!-- <h3>The music on this is...</h3> -->
                    <table class="table table-striped table-compact">
                        <tbody>
                            <tr>
                                <th style="width: 100px">Angry <br /><small class="muted">{{ programme.angry }}</small></th>
                                <td>
                                    <div class="progress progress-danger">
                                        <div class="bar" title="Angry" style="width: {{ (programme.angry / programme.max) * 100 }}%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Excited <br /><small class="muted">{{ programme.excited }}</small></th>
                                <td>
                                    <div class="progress progress-warning">
                                        <div class="bar" title="Excited" style="width: {{ (programme.excited / programme.max) * 100 }}%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Happy <br /><small class="muted">{{ programme.happy }}</small></th>
                                <td>
                                    <div class="progress progress-success">
                                        <div class="bar" title="Happy" style="width: {{ (programme.happy / programme.max) * 100 }}%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Relaxing <br /><small class="muted">{{ programme.relaxing }}</small></th>
                                <td>
                                    <div class="progress progress-info">
                                        <div class="bar" title="Relaxing" style="width: {{ (programme.relaxing / programme.max) * 100 }}%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Sad <br /><small class="muted">{{ programme.sad }}</small></th>
                                <td>
                                    <div class="progress">
                                        <div class="bar" title="Sad" style="width: {{ (programme.sad / programme.max) * 100 }}%"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /row -->
        </div>
    {% endfor %}
    </div>

{% endblock %}

